:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.87);
  background-color: #007D9C;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 800;
  color: #000;
  background-color:#FDDD00;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:active {
  outline: 4px auto #646cff;
}
